.btnn{
    position: absolute;
    top: 0;
    right: 0px;
    padding-right: 10px;
    padding-top: 10px;
}

.isi{
    font-weight: 400;
    font-size: 16;
    /* font-family: "inter"; */
}
.titel{
    font-weight: 500;
    font-size: 16;
    /* font-family: "inter"; */
}